/* --------------------------------------------------Css Main Page. DO NOT TOUCH !--------------------------------------------------------------------------- */
body {
	
	height: 100%;
    background: none repeat scroll 0 0 transparent;
    font-size: 14px;
    line-height: 20px;
    color: rgb(66,66,66);
    font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}




#main-nav {
    padding: 0px;
    margin: 10px;
}

.menu-main-nav-container {
    display: block; /* no effect */
    width: 950px;
    height: 50px;
    padding: 5px;
    margin: 0px 0px 1px 0px;
	font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
/* 	background-color:rgb(66,66,66); */

}





 

/* li {
    line-height: 50px;
	background-color: black
	
} */

#main-nav .menu-main-nav-container ul {
    position: relative;
}
ul {
    padding: 0px;
    margin: 0px;
}


#main-nav .menu-main-nav-container ul li {
    float: left; /* commencer la liste de gauche */
}


ul li {
    list-style: none;
	line-height: 30px; /* la largeur de barre de menu */

	
}




#main-nav .menu-main-nav-container ul li.menu-item-1 > a {
    
    width: 150px;

}



#main-nav .menu-main-nav-container ul li.menu-item-2 > a {
    width: 170px;
}

#main-nav .menu-main-nav-container ul > li > a {
    text-align: center;
}
#main-nav .menu-main-nav-container ul li a {
    display: block;
    padding: 0px 0px;
    background-color: rgb(66,66,66);
    color: rgb(255,255,255);
    transition: all 0.3s ease-in-out;
	
     
}

#main-nav .menu-main-nav-container ul li a.active{
background-color: rgb(122,190,69);
	
} 



#main-nav .menu-main-nav-container ul li.menu-item-3 > a {
    width: 100px;
}



#main-nav .menu-main-nav-container ul li.menu-item-4 > a {
    width: 100px;
}

#main-nav .menu-main-nav-container ul li.menu-item-5 > a {
    width: 150px;
}


#main-nav .menu-main-nav-container ul li.menu-item-6 > a {
    width: 160px;
}

a:link {
    text-decoration: none;
}

a:visited {
    background-color: red;
}

#main-nav .menu-main-nav-container ul li a:hover{
		background-color:rgb(122,190,69);
}


/* .banniere-container {

} */

#main {
    padding-bottom: 160px;
}


.mySlides {
	width: 922px;
    height: 445px;
    margin-bottom: 30px;
	display:none;

}



.devenez-membre, .impliquez-vous {
    display: block;
    margin-bottom: 30px;
    padding: 20px 20px 40px 20px;
}


.devenez-membre h2 {
    text-transform: uppercase;
}
h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
    margin: 18px 0px 24px 0px;
    text-transform: uppercase;
	display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}




p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 14px;
	color: rgb(66,66,66);
	display: block;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


a.bouton-savoir-plus {
    display: block;
    color: rgb(255,255,255);
    padding: 10px 20px;
    margin-top: 24px;
    margin-bottom: 10px;
    background-color: rgb(122,190,69);
    width: 205px;
    text-decoration: none;
    

}

a.bouton-savoir-plus:hover{
		background-color:rgb(66,66,66);
}



.impliquez-vous h2 {
    text-transform: uppercase;
}


.back-to-top {
 
background: none;
 
margin: 20px;
 
position: fixed;
 
bottom: 0;
 
right: 0;
 
width: 70px;
 
height: 70px;
 
z-index: 100;
 
display: none;
 
text-decoration: none;
 
color: #ffffff;
border-left: 40px solid transparent;
border-right: 40px solid transparent;
border-bottom: 30px solid green;
 
}
 
 
.nouvelles-section, .evenements-section {
    display: block;
    position: relative;
    background-color: rgb(245,245,245);
    padding-bottom: 30px;
}

.nouvelles-header, .evenements-header {
    display: block;
    position: relative;
    padding: 5px 20px;
    background-color: rgb(66,66,66);
    margin-bottom: 30px;
}

.nouvelles-header h2, .evenements-header h2 {
    color: rgb(255,255,255);
    margin: 0px;
    text-transform: uppercase;
}

.nouvelles-header .nouvelles-triangle, .evenements-header .evenements-triangle {
    position: absolute;
    left: 0px;
    bottom: -16px;
}




.nouvelles-container, .evenements-container {
    padding: 0px 20px 30px 20px;
}

.nouvelles-container .nouvelles-contenu, .evenements-container .evenements-contenu {
    border-bottom: rgb(200,200,200) 1px solid;
    padding-bottom: 20px;
}

.boite-titre {
    display: block;
    margin-bottom: 14px;
}

h4.titre {
    font-weight: 700;
    margin-bottom: 0px;
}
h4 {
    font-size: 18px;
    line-height: 24px;
    margin: 0px 0px 16px 0px;
}

h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.nouvelles-date p, .evenements-date p {
    font-style: italic;
    margin-bottom: 0px;
}
p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
	margin-bottom: 14px;

}
p {
    margin: 0 0 10px;
}


p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.nouvelles-section a.bouton-archives, .evenements-section a.bouton-archives {
    display: block;
    margin-left: 20px;
    color: rgb(255,255,255);
    padding: 10px 20px;
    background-color: rgb(66,66,66);
    width: 205px;
    transition: all 0.3s ease-in-out;
}

a.bouton-archives:hover{
		background-color:rgb(122,190,69);
}

.module-inscription {
    background-color: rgb(234,76,51);
	width: 303px;
}
.module-inscription, .medias-sociaux, .gal-photo {
    display: block;
    margin-bottom: 30px;
    padding: 30px 30px 50px 30px;
}


.module-inscription h2, .module-inscription p, .medias-sociaux h2, .medias-sociaux p, .gal-photo h2, .gal-photo p {
    color: rgb(255,255,255);
    margin-bottom: 16px;
}

.module-inscription h2, .medias-sociaux h2, .gal-photo h2 {
    text-transform: uppercase;
}

.bouton-ouvert {
    margin-top: 30px;
}

.bouton-ouvert a {
    color: rgb(234,76,51);
    padding: 10px 20px;
    background-color: rgb(255,255,255);
    transition: all 0.3s ease-in-out;
}

.bouton-ouvert a:hover{
		background-color:rgb(122,190,69);
}



.medias-sociaux {
    background-color: rgb(39,133,158);
    width: 303px;
}





#main #mc_embed_signup {
    position: relative;


}
#main #mc_embed_signup, #main #mc_embed_signup form {
    background: none;
    clear: left;
    padding: 0px;
}

#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;

}



#main #mc_embed_signup .mc-field-group {
    width: 77%;
}
/* #mc_embed_signup .mc-field-group {
    clear: left;
    position: relative;
    padding-bottom: 3%;
    min-height: 50px;
} */


/* #mc_embed_signup .mc-field-group {
    clear: left;
    position: relative;
    padding-bottom: 3%;
    min-height: 50px;
} */




#main #mc_embed_signup label {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: rgb(255,255,255);
}

#mc_embed_signup .mc-field-group label {

    margin-bottom: 3px;
}

#main #mc_embed_signup .mc-field-group input {
    border-radius: 0px;

	
}

#mc_embed_signup .mc-field-group input {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
}

#mc_embed_signup input {
    border: 1px solid #999;
    -webkit-appearance: none;
		width: 50px;
}

#main #mc_embed_signup div#mce-responses {
    padding: 0;
    width: 100%;
    margin: 0;
	display: inline-block
}

.medias-sociaux .icones-medias-sociaux {
    display: block;
    height: 32px;
    margin-bottom: 20px;
}

.medias-sociaux .icones-medias-sociaux .icone-media-social {
    float: left;
}

.medias-sociaux .icones-medias-sociaux .icone-media-social a {
    display: block;
    padding-right: 10px;
}

.gal-photo {
    background-color: rgb(66,66,66);
	
	width: 303px;
}
 


.gal-photo h2 {
    font-size: 28px;
}


.gal-photo a.photo {
    padding: 10px 0px 20px 0px;
    display: block;
}




/* .bouton-ouvert {
    margin-top: 30px;
} */


.gal-photo .bouton-ouvert a {
    color: rgb(66,66,66);

    transition: all 0.3s ease-in-out;
}

/* .bouton-ouvert a {

    padding: 10px 20px;
    background-color: rgb(255,255,255);
    
} */


#footer {
    position: relative;
    display: block;
    width: 100%;
    padding: 30px 0px;
    background: rgb(66,66,66);
}

#footer .container .row {
    position: relative;
}

#footer .texture {
    position: absolute;
    right: -100px;
    top: -133px;
}

#footer .footer-col {
    padding: 0px 20px;
	font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#footer .adresse {
    font-size: 14px;
    line-height: 20px;
}

#footer p, #footer ul li a {
    display: block;
    color: rgb(255,255,255);
    transition: all 0.3s ease-in-out;
}

p {

    font-weight: 300;
    margin-bottom: 14px;
}

#footer .footer-col {
    padding: 0px 20px;
}

#footer .footer-col ul li a:hover{
		color:rgb(122,190,69);
}

.bande-rouge {
    height: 7px;
    display: block;
    width: 100%;
    background-color: rgb(234,76,51);
}


#smoothup {
    position: fixed;
    padding: 10px 30px;
    bottom: 0px;
    right: 100px;
    background: rgba(255, 255, 255, 0.5);
    transition-duration: 0.4s;
}

a {
    color: rgb(122,190,69);

    transition: color 0.3s ease-in-out;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;

}

a:-webkit-any-link {

    cursor: auto;
}

div.topButton {
    position: fixed;
    z-index: 10;
}
/* --------------------------------------------------Css Main Page end. DO NOT TOUCH !--------------------------------------------------------------------------- */
/* --------------------------------------------------Css Page1,2. DO NOT TOUCH !--------------------------------------------------------------------------- */

.contenu-pages {
    position: relative;
	display: block;
    background-color: rgb(245,245,245);
    padding-right: 30px;
	border-bottom: rgb(200,200,200) 1px solid;
    padding-bottom: 20px;
	
}



.contenu-pages h1, .contenu-pages h2 {
    color: rgb(122,190,69);
}

h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    margin: 18px 0px 24px 0px;
    text-transform: uppercase;
}

.contenu-pages h3, .contenu-pages h4 {
    font-weight: 700;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    margin: 10px 0px 16px 0px;

}

#main .page1 .container .module-inscription{

	width: 290px;
	display: block;
    margin-bottom: 30px;
    padding: 30px 30px 50px 30px;
}

#main .page1 .container .medias-sociaux {

	width: 295px;
	display: block;
    margin-bottom: 30px;
    padding: 30px 30px 50px 30px;
}
#main .page1 .container .gal-photo{

	width: 295px;
	display: block;
    margin-bottom: 30px;
    padding: 30px 30px 50px 30px;
}

.contenu-pages ul {
	margin-top: 50px;
    margin-bottom: 16px;
}

.contenu-pages ul li {
     
    margin-bottom: 10px;
    padding-left: 15px;
    list-style-type: none;
/*     background-image: url(tiret.jpg);
    background-repeat: no-repeat;
    background-position: vertical ; */
    background: url(../photo/tiret.jpg) no-repeat 0 0.40em;
}


/* --------------------------------------------------Css Page1,2 end. DO NOT TOUCH !--------------------------------------------------------------------------- */

/* --------------------------------------------------Css Page3 end. DO NOT TOUCH !--------------------------------------------------------------------------- */

.contenu-activite {
    position: relative;
	display: block;
    background-color: rgb(245,245,245);
/*     padding-right: 30px; */

    padding-bottom: 20px;
	
}

.contenu-activite h1 {
    color: rgb(122,190,69);
	padding-bottom: 20px;
}



.activite-section {
    display: block;
    position: relative;
    background-color: rgb(245,245,245);
    padding-bottom: 30px;
}

.activite-header {
    display: block;
    position: relative;
    padding: 5px 20px;
    background-color: rgb(66,66,66);
    margin-bottom: 30px;
}

.activite-header h2 {
    color: rgb(255,255,255);
    margin: 0px;
    text-transform: uppercase;
}

.activite-header .activite-triangle {
    position: absolute;
    left: 0px;
    bottom: -16px;
}




.activite-container {
    padding: 0px 20px 30px 20px;
}

.activite-container .activite-contenu{
    border-bottom: rgb(200,200,200) 1px solid;
    padding-bottom: 20px;
}


a.bouton-consulter-horaire {
    display: block;
    color: rgb(255,255,255);
    padding: 10px 20px;
    margin-top: 24px;
    margin-bottom: 10px;
    background-color: rgb(122,190,69);
    width: 205px;
    text-decoration: none;
    

}

a.bouton-consulter-horaire:hover{
		background-color:rgb(66,66,66);
}



.btn-success {
   margin-top: 20px;
   margin-bottom: 10px;	

  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color:rgb(66,66,66);
  *background-color: #51a351;
    background-image: none;

  background-image: none;
  background-repeat: repeat-x;

  border-color: rgb(66,66,66);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
    border-color: rgb(122,190,69);
  *background-color: #499249;
}


.linkPw {
  color: #0088cc;
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}


.linkPw:hover,
.linkPw:focus {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}


#date{
    margin-top: 15px;
    display: none;
}

#time{
    margin-top: 15px;
    display: none;
}
















































































